:root{
  --background: #f5f0eb;
  --text: #40352d;
}
/* .font-copper {
  font-family: var(--copper);
  font-weight: 300;
  font-style: normal;
} */
/* .font-snell {
  font-family: var(--snell);
  font-weight: 400;
  font-style: normal;
} */
.pinyon {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.forum {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}



body{
  background-color: var(--background);
  color: var(--text);
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  line-height: 1.2em;
}

h1{
  text-align: center;
  font-size: 2.3em;
  letter-spacing: .05em;
  padding-top: 20px;
}

h2,h4{
  margin: 6px;
}

main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.details{
  width: 90%;
  margin: 0 auto;
  padding: 10px 0px;
  border-bottom: #b7a89d solid 1px;
}

.registry{
  width:90%;
  margin: 0 auto;
  margin-bottom: 50px;
  line-height: 1.5em;
}

.monet{
  background-image: url('./img/monet-2.jpg');
  background-size: cover;
  margin: 130px 0px;
  width: 100%;
}

#in-1{
  position: relative;
  top: -90px;
  margin-right: 1%;
}

#in-2{
  position: relative;
  top: 90px;
  margin-left: 1%;
}

a{
  font-size: 1.2em;
  color: var(--text);
  font-family: "Forum", serif;
}
a:hover{
  color: #b7a89d;
}
.rsvp{
  background-color: #f7eaeea0;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5em;
}
.rsvp > h3{
  margin: 0 auto;
  line-height: 1.7em;
  margin-bottom: 10px;
  width: 80%;
  border-bottom: #b7a89d solid 1px;
}
.rsvp-wrap{
  background-image: url("img/flower.jpg");
  background-size: cover;
  padding: 30px;
}
form{
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-items: center;
  font-family: "Forum", serif;
}
label{
  font-size: 1.1em;
  margin: 20px 0px 5px 0px;
}
input{
  margin-bottom: 10px;
}
textarea{
  height: 60px;
  border: none;
  border-bottom: 1px solid var(--text);
  background-color: #f7eaee47;
  font-family: "Forum", serif;
  font-size: 1.1em;
}
textarea:focus{
  outline: none;
  background-color: none;
  border-bottom: 1px solid #b7a89d;
}
input[type="checkbox"]{
  width: auto;
  margin: 0px 8px;
}
form div{
  margin: 0 auto;
}

button{
  width: 70%;
  background-color: var(--text);
  color: var(--background);
  margin: 25px auto;
  padding: 5px;
  font-size: medium;
  font-family: "Forum", serif;
  border: none;
  border-radius: 3px;
}
button:hover{
  background-color: #b7a89d;
  color: var(--text);
}

.text-sm{
  font-size: 1em;
}


footer{
  height: 80px;
}



@media (min-width: 500px){
 body{
   max-width: 850px;
   margin: 0 auto;
 };
}




/* 
.slide {
	animation: slide 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
}

.fade {
	animation: fade 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
}

.open{
    animation: open 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   
}

.grow{
    animation: grow 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   
} */


/* 
@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300px);
    opacity: 100%;
  }
}

@keyframes grow {
  0% {
    transform: translateY(-300px) ;
    opacity: 100%;
  }
  100% {
    transform: translateY(-420px) ;
    opacity: 100%;
    width: 100%;
    height: 100%;
    background-color: #b7a89d;
  }
} */


/* @keyframes fade {
  0% {
    opacity: 100%;
  }
  100% {
   opacity: 0;
  }
}

@keyframes open {
 0% {
    transform: rotateX(0) translateY(0);
    transform-origin: top;
  }
  100% {
    transform: rotateX(180deg) translateY(-12px);
    transform-origin: top;
  }
} */